<!DOCTYPE html>
<html>
<head>
    <title>Usuarios y Tareas</title>
</head>
<body>

<h2>Crear Usuario</h2>
<input id="nuevoUsuario" placeholder="Nombre">
<button onclick="crearUsuario()">Crear</button>

<h2>Seleccionar Usuario</h2>
<select id="usuarios" onchange="cambiarUsuario()"></select>

<h2>Agregar Tarea</h2>
<input id="tarea" placeholder="Tarea">

<select id="estado">
    <option value="Incompleto">Incompleto</option>
    <option value="Completado">Completado</option>
</select>

<button onclick="agregarTarea()">Agregar</button>

<h2>Tareas del Usuario</h2>

<table border="1">
    <thead>
        <tr>
            <th>Tarea</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody id="tabla"></tbody>
</table>

<script src="/static/script.js"></script>

</body>
</html>